<div class="top">
  <h1>Survey Otter</h1>
</div>
<div class="bottom">
  <div class="login">
    <a href="/login">Login/Signup</a>
  </div>
  <div class="links">
    <a href="/survey">View Surveys</a><br>
    <a href="/survey/new">Create A Survey</a>
  </div>
</div>
