<div class="top">
  <h1>Survey Otter</h1>
  <a href="/login">Login</a>
  <a href="/login">Signup</a> 
</div>
<div class="body"
  <div class="landing_pic">
    <img src="http://main.dailyotter.org/wp-content/uploads/2012/09/tumblr_m77hmy4h8E1qzs75go1_1280.jpg" alt="otter">
  </div>
</div>
