<div>
  <form action="/user" method="post">
    <label for="name">Name</label>
    <input type="text" name="user[username]">
    <label for="password"></label>
    <input type="text" name="user[password]">
    <input type="submit" value="Signup!">
    <input type="submit" value="Login!">
  </form>
</div>
