<div id="login_form">
  <form action="/user" method="post">
    <label id="name_label" for="username">Name</label>
    <input type="text" name="username">
    <label for="password"></label>
    <input type="password" name="password">
    <input type="submit" value="Login!">
  </form>
  <a href="/signup">Don't have an account? You otter have one! Sign up here!</a>
</div>
