<form method="POST" action="/survey/create">
  <div id="form">
    <div class="question">
      <input type="text" name="question1" placeholder="enter question"><br><br>
      <div class="choice">
        <input type="text" name="question1[choice1]" placeholder="enter choice"><br>
      </div>
    </div>
  </div><br><br><br>
  <a href="#" class="new_choice">Add choice</a><br>
  <br><br><br>
  <a href="#" id="new_question">Add question</a><br>

  <input type="submit">

</form>
