<div class="signup">
  <form action="/create_user" method="post">
    <input type="text" name="user[username]" placeholder="Please enter a username">
    <input type="password" name="user[password]" placeholder="Create a password">
    <input type="submit" value="Join our romp!!"><br>
  </form>
  <a href="/">Back Home</a>
</div>
